*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes opacityAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}
@keyframes progressAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
html {
  font-size: 62.5%;
}

body {
  color: #171717;
  background-color: #fff;
  font-family: sans-serif;
  overflow: scroll;
  scroll-behavior: smooth;
}
body:has(.show-nav) {
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  outline: none;
  color: inherit;
  background: inherit;
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: none !important;
}

img {
  width: 100%;
  height: 100%;
}

h3:is(.section-title) {
  text-align: center;
  font-size: calc(1.8rem + 0.6vw);
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 2.5rem;
}

.logo-wrapper {
  height: 6rem;
}
.logo-wrapper img {
  filter: grayscale(100);
}
.logo-wrapper:hover img {
  filter: grayscale(0);
}

.header {
  position: relative;
}
.header .navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  position: fixed;
  z-index: 33;
  top: 0;
  transition: all 0.3s;
}
.header .navbar .logo {
  width: 21.4rem;
  height: 4.6rem;
}
.header .navbar .collapse-wrapper .cross-button-wrapper {
  display: flex;
  justify-content: flex-end;
}
.header .navbar .collapse-wrapper .cross-button {
  font-size: 3.2rem;
  cursor: pointer;
  color: #0c63b4;
  padding-block: 0.6rem 2.6rem;
}
.header .navbar .collapse-wrapper .collapse-navbar {
  display: flex;
}
.header .navbar .collapse-wrapper .collapse-navbar .nav-link {
  display: inline-block;
  padding: 1rem 1.8rem;
  font-size: 1.8rem;
}
.header .navbar .collapse-wrapper .collapse-navbar .nav-link a {
  transition: all 0.3s;
}
.header .navbar .collapse-wrapper .collapse-navbar .nav-link:is(.dropdown) {
  position: relative;
}
.header .navbar .collapse-wrapper .collapse-navbar .nav-link:is(.dropdown) .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 37.8rem;
  max-height: 76.8rem;
  padding: 3rem 3.4rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.08);
}
.header .navbar .collapse-wrapper .collapse-navbar .nav-link:is(.dropdown) .dropdown-menu p {
  font-size: 1.4rem;
  line-height: 1.71;
  color: #4c4c4c;
}
.header .navbar .collapse-wrapper .collapse-navbar .nav-link:is(.dropdown) .dropdown-menu hr {
  margin-block: 2rem;
  display: block;
  height: 0.1rem;
  border: 0;
  background: #171717;
  opacity: 0.25;
}
.header .navbar .collapse-wrapper .collapse-navbar .nav-link:is(.dropdown) .dropdown-menu ul li {
  font-size: 1.5rem;
  padding-block: 0.65rem;
  text-overflow: ellipsis;
}
.header .navbar .collapse-wrapper .collapse-navbar .nav-link:is(.dropdown) .dropdown-menu ul li:hover {
  color: #ccc;
}
.header .navbar .collapse-wrapper .collapse-navbar .nav-link:is(.dropdown) .dropdown-menu::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 2.7rem;
  border: 0.7rem solid transparent;
  border-bottom: 0.8rem solid #fff;
}
.header .navbar .collapse-wrapper .collapse-navbar .nav-link:is(.dropdown) .fa-solid {
  font-size: 1.1rem;
  line-height: 1;
}
.header .navbar .collapse-wrapper .collapse-navbar .nav-link:is(.dropdown):hover .dropdown-menu {
  display: block;
}
.header .navbar .collapse-wrapper .collapse-navbar .nav-link:is(.dropdown):hover .fa-solid {
  transform: rotate(180deg);
}
.header .navbar .right-part {
  display: flex;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  gap: 3rem;
}
.header .navbar .right-part .icon {
  font-size: 1.8rem;
  font-weight: 900;
  flex-grow: 1;
  display: inline-block;
}
.header .navbar .right-part .languages .select-options {
  display: none;
}
.header .navbar .right-part .call-button,
.header .navbar .right-part .languages {
  grid-template-rows: 1fr 1fr;
  place-items: center;
}
.header .navbar .right-part .menu-button {
  width: 3rem;
  height: 3rem;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
.header .navbar .right-part .menu-button .bar {
  display: inline-block;
  width: 100%;
  height: 0.3rem;
  background-color: #0c63b4;
  border-radius: 1px;
}
.header .navbar .right-part .menu-button .bar:last-child {
  width: 50%;
  align-self: flex-end;
}
.header .navbar:not(.onscroll) {
  background: transparent;
  border-bottom: none;
}
.header .navbar:not(.onscroll) .logo img {
  filter: brightness(100) grayscale(100);
}
.header .navbar:not(.onscroll) .right-part {
  color: #fff;
}
.header .navbar:not(.onscroll) .right-part .bar {
  background-color: #fff;
}
.header .navbar:is(.onscroll) {
  border-bottom: 0.2rem solid #f7f7f7;
  background: #fff;
}
.header .navbar:is(.onscroll) .right-part {
  color: #0c63b4;
}
.header .navbar:is(.onscroll) .right-part .bar {
  background-color: #0c63b4;
}
@media screen and (min-width: 280px) {
  .header .navbar .collapse-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100%;
    visibility: hidden;
    z-index: 5;
  }
  .header .navbar .collapse-wrapper .cross-button {
    display: block;
  }
  .header .navbar .collapse-wrapper .collapse-navbar {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-color: #fff;
    transition: all 0.5s;
    flex-direction: column;
    padding: 2rem 4rem;
  }
  .header .navbar .collapse-wrapper .collapse-navbar .nav-link {
    border-top: solid 1px #dddddd;
  }
  .header .navbar .collapse-wrapper .collapse-navbar .nav-link a {
    color: #171717;
  }
  .header .navbar .collapse-wrapper .collapse-navbar .nav-link:is(.active) > a, .header .navbar .collapse-wrapper .collapse-navbar .nav-link:hover > a {
    color: #ccc;
  }
  .header .navbar .collapse-wrapper:is(.show-nav) {
    visibility: visible;
  }
  .header .navbar .collapse-wrapper:is(.show-nav) .collapse-navbar {
    right: 0;
  }
  .header .navbar .right-part .languages {
    display: none;
  }
  .header .navbar .right-part .call-button {
    display: none;
  }
  .header .navbar .right-part .menu-button {
    display: flex;
  }
}
@media screen and (min-width: 550px) {
  .header .navbar .collapse-wrapper .collapse-navbar {
    width: 70%;
  }
  .header .navbar .right-part .call-button {
    display: grid;
  }
}
@media screen and (min-width: 900px) {
  .header .navbar .collapse-wrapper .collapse-navbar {
    width: 50%;
  }
}
@media screen and (min-width: 1290px) {
  .header .navbar .collapse-wrapper {
    position: static;
    height: -moz-max-content;
    height: max-content;
    width: -moz-max-content;
    width: max-content;
    background: transparent;
    visibility: visible;
  }
  .header .navbar .collapse-wrapper .cross-button {
    display: none;
  }
  .header .navbar .collapse-wrapper .collapse-navbar {
    flex-direction: row;
    position: static;
    height: -moz-max-content;
    height: max-content;
    width: -moz-max-content;
    width: max-content;
    background-color: transparent;
    padding: 0;
  }
  .header .navbar .collapse-wrapper .collapse-navbar .nav-link {
    border-top: none;
  }
  .header .navbar .right-part .languages {
    display: grid;
  }
  .header .navbar .right-part .menu-button {
    display: none;
  }
  .header .navbar:not(.onscroll) .collapse-navbar .nav-link > a {
    color: white;
    text-shadow: 0 0 2rem #000f1e;
  }
  .header .navbar:not(.onscroll) .collapse-navbar .nav-link:is(.active) > a, .header .navbar:not(.onscroll) .collapse-navbar .nav-link:hover > a {
    color: #ccc;
  }
  .header .navbar:is(.onscroll) .collapse-navbar .nav-link > a {
    color: #4c4c4c;
    text-shadow: none;
  }
  .header .navbar:is(.onscroll) .collapse-navbar .nav-link:is(.active) > a, .header .navbar:is(.onscroll) .collapse-navbar .nav-link:hover > a {
    color: #0c63b4;
  }
}

section:not(.banner-section) {
  padding-block: 7.4rem;
}

.banner-section {
  position: relative;
}
.banner-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.banner-section .carousel {
  height: 75.2rem;
  min-height: 50rem;
  color: #fff;
}
.banner-section .carousel .carousel-item img {
  transition: transform 0.4s;
}
.banner-section .carousel .carousel-item:is(.active) img {
  animation: scaleAnimation 4s;
}
.banner-section .carousel .carousel-item .carousel-caption {
  bottom: 50%;
  left: 0;
  transform: translateY(50%);
  display: flex;
  flex-direction: column;
  padding-inline: 7rem;
  animation: opacityAnimation 4s;
}
.banner-section .carousel .carousel-item .carousel-caption h2 {
  font-size: 4rem;
  max-width: 80rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  line-height: 1.2;
  text-align: start;
}
.banner-section .carousel .carousel-item .carousel-caption .more {
  text-align: center;
  display: inline;
  width: 20rem;
  border: 0.2rem solid #0c63b4;
  background-color: #0c63b4;
  border-radius: 0.6rem;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1;
  margin-top: 2.4rem;
  padding: 1.4rem 2.4rem;
  transition: 0.3s;
}
.banner-section .carousel .carousel-indicators {
  margin-bottom: 4.8rem;
}
.banner-section .carousel .carousel-indicators .dot {
  background: transparent;
  width: 130px;
  height: -moz-max-content;
  height: max-content;
  text-indent: 0;
  margin-inline: 0.5rem;
}
.banner-section .carousel .carousel-indicators .dot .bar-wrapper {
  height: 0.2rem;
  width: 100%;
  background: #fff;
  position: relative;
}
.banner-section .carousel .carousel-indicators .dot .bar-wrapper .progress-bar {
  display: inline-block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.4s width;
}
.banner-section .carousel .carousel-indicators .dot h6 {
  margin-block: 1.5rem 0.8rem;
  font-size: 1.2rem;
  font-weight: bold;
  width: 130px;
  height: 43px;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}
.banner-section .carousel .carousel-indicators .dot:is(.active) .bar-wrapper .progress-bar {
  width: 100%;
  background-color: #0c63b4;
  animation: progressAnimation 4s;
}

.advantages-section h3 {
  color: #000;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}
.advantages-section p {
  color: #737373;
  font-size: 13px;
  line-height: 1.5;
}

.categories-section {
  background: #f5f5f5;
}
.categories-section .categories-content .category-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 20rem;
  border-radius: 1rem;
  background: #fff;
  text-align: center;
  padding: 2rem 0.5rem;
  transition: 300ms all ease;
  color: #272727;
  gap: 1rem;
}
.categories-section .categories-content .category-box .icon-wrapper {
  width: 6.4rem;
  height: 6.4rem;
}
.categories-section .categories-content .category-box h5 {
  font-size: 18px;
  line-height: 1.55;
  font-weight: 500;
}
.categories-section .categories-content .category-box:hover {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
}
.categories-section .categories-content .category-box:hover img {
  filter: invert(1);
}

.references-section .logo-wrapper {
  margin: 2rem 1rem;
  padding-inline: 1.2rem;
}
@media screen and (min-width: 220px) {
  .references-section .logo-wrapper {
    width: calc(100% - 2rem);
  }
  .references-section .logo-wrapper img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media screen and (min-width: 450px) {
  .references-section .logo-wrapper {
    width: calc(50% - 2rem);
  }
  .references-section .logo-wrapper img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .references-section .logo-wrapper img[alt=nexans] {
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media screen and (min-width: 576px) {
  .references-section .logo-wrapper {
    width: calc(33.3333333333% - 2rem);
  }
}
@media screen and (min-width: 768px) {
  .references-section .logo-wrapper {
    width: calc(25% - 2rem);
  }
}
@media screen and (min-width: 991px) {
  .references-section .logo-wrapper {
    width: calc(20% - 2rem);
  }
}

.partners-section {
  background: #f5f5f5;
}
.partners-section .logo-wrapper {
  padding-inline: 1.2rem;
  margin: 3.9rem 1rem;
}
.partners-section .logo-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
}
.partners-section .logo-wrapper img[alt=metop], .partners-section .logo-wrapper img[alt=schneider], .partners-section .logo-wrapper img[alt=wago], .partners-section .logo-wrapper img[alt=safak], .partners-section .logo-wrapper img[alt=emas], .partners-section .logo-wrapper img[alt=pelsan], .partners-section .logo-wrapper img[alt=etk], .partners-section .logo-wrapper img[alt=cetinkaya], .partners-section .logo-wrapper img[alt=yavuz], .partners-section .logo-wrapper img[alt=entes] {
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (min-width: 220px) {
  .partners-section .logo-wrapper {
    width: calc(50% - 2rem);
  }
}
@media screen and (min-width: 450px) {
  .partners-section .logo-wrapper {
    width: calc(33.3333333333% - 2rem);
  }
}
@media screen and (min-width: 576px) {
  .partners-section .logo-wrapper {
    width: calc(25% - 2rem);
  }
}
@media screen and (min-width: 768px) {
  .partners-section .logo-wrapper {
    width: calc(20% - 2rem);
  }
}
@media screen and (min-width: 991px) {
  .partners-section .logo-wrapper {
    width: calc(16.6666666667% - 2rem);
  }
}/*# sourceMappingURL=style.css.map */