*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@keyframes scaleAnimation {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

@keyframes opacityAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.7;
    }
}

@keyframes progressAnimation {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}



html {
    font-size: 62.5%;
}

body {
    color: #171717;
    background-color: #fff;
    font-family: Averta, sans-serif;
    overflow: scroll;
    scroll-behavior: smooth;

    &:has(.show-nav) {
        overflow: hidden;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    outline: none;
    color: inherit;
    background: inherit;
    font-size: inherit;
}

a {
    color: inherit;
    text-decoration: none !important;
}

img {
    width: 100%;
}

.header {
    position: relative;

    .navbar {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 4rem;
        position: fixed;
        z-index: 3;
        top: 0;
        transition: all .3s;

        .logo {
            width: 21.4rem;
            height: 4.6rem;
        }

        .collapse-wrapper {

            .cross-button-wrapper {
                display: flex;
                justify-content: flex-end;
            }

            .cross-button {
                font-size: 3.2rem;
                cursor: pointer;
                color: #0c63b4;
                padding-block: .6rem 2.6rem;
            }

            .collapse-navbar {

                display: flex;

                .nav-link {
                    display: inline-block;
                    padding: 1rem 1.8rem;
                    font-size: 1.8rem;

                    a {
                        transition: all .3s;
                    }

                    &:is(.dropdown) {
                        position: relative;

                        .dropdown-menu {
                            display: none;
                            position: absolute;
                            top: 100%;
                            left: 0;
                            min-width: 37.8rem;
                            max-height: 76.8rem;
                            padding: 3rem 3.4rem;
                            background-color: #fff;
                            border-radius: 1rem;
                            box-shadow: 0 0 3rem rgba(0, 0, 0, 0.08);

                            p {
                                font-size: 1.4rem;
                                line-height: 1.71;
                                color: #4c4c4c;
                            }

                            hr {
                                margin-block: 2rem;
                                display: block;
                                height: 0.1rem;
                                border: 0;
                                background: #171717;
                                opacity: 0.25;
                            }

                            ul li {
                                font-size: 1.5rem;
                                padding-block: 0.65rem;
                                text-overflow: ellipsis;

                                &:hover {
                                    color: #ccc;
                                }
                            }

                            &::before {
                                content: "";
                                position: absolute;
                                bottom: 100%;
                                left: 2.7rem;
                                border: 0.7rem solid transparent;
                                border-bottom: 0.8rem solid #fff;
                            }
                        }

                        .fa-solid {
                            font-size: 1.1rem;
                            line-height: 1;
                        }

                        &:hover {
                            .dropdown-menu {
                                display: block;
                            }

                            .fa-solid {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }



        }

        .right-part {

            display: flex;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
            gap: 3rem;

            .icon {
                font-size: 1.8rem;
                font-weight: 900;
                flex-grow: 1;
                display: inline-block;
            }


            .languages {
                .select-options {
                    display: none;
                }
            }

            .call-button,
            .languages {
                grid-template-rows: 1fr 1fr;

                place-items: center;
            }

            .menu-button {
                width: 3rem;
                height: 3rem;
                flex-direction: column;
                justify-content: center;
                gap: 0.5rem;

                .bar {
                    display: inline-block;
                    width: 100%;
                    height: .3rem;
                    background-color: #0c63b4;
                    border-radius: 1px;

                    &:last-child {
                        width: 50%;
                        align-self: flex-end;
                    }
                }
            }
        }

        &:not(.onscroll) {

            background: transparent;
            border-bottom: none;

            .logo img {
                filter: brightness(100) grayscale(100);
            }

            .right-part {
                color: #fff;

                .bar {
                    background-color: #fff;
                }
            }
        }

        &:is(.onscroll) {

            border-bottom: 0.2rem solid #f7f7f7;
            background: #fff;

            .right-part {
                color: #0c63b4;

                .bar {
                    background-color: #0c63b4;
                }
            }
        }

    }


    @media screen and (min-width: 280px) {
        .navbar {
            .collapse-wrapper {
                position: absolute;
                top: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.8);
                height: 100vh;
                width: 100%;
                visibility: hidden;
                z-index: 5;

                .cross-button {
                    display: block;
                }

                .collapse-navbar {
                    position: absolute;
                    top: 0;
                    right: -100%;
                    width: 100%;
                    height: 100vh;
                    flex-direction: column;
                    background-color: #fff;
                    transition: all 0.5s;
                    flex-direction: column;
                    padding: 2rem 4rem;




                    .nav-link {
                        border-top: solid 1px #dddddd;

                        a {
                            color: #171717;
                        }



                        &:is(.active)>a,
                        &:hover>a {
                            color: #ccc;
                        }
                    }
                }

                &:is(.show-nav) {
                    visibility: visible;

                    .collapse-navbar {
                        right: 0;
                    }
                }
            }

            .right-part {
                .languages {
                    display: none;
                }

                .call-button {
                    display: none;
                }

                .menu-button {
                    display: flex;
                }
            }
        }
    }

    @media screen and (min-width: 550px) {
        .navbar {
            .collapse-wrapper {
                .collapse-navbar {
                    width: 70%;
                }
            }

            .right-part {
                .call-button {
                    display: grid;
                }
            }
        }
    }


    @media screen and (min-width: 900px) {
        .navbar {
            .collapse-wrapper {
                .collapse-navbar {
                    width: 50%;
                }
            }
        }
    }

    @media screen and (min-width: 1290px) {
        .navbar {

            .collapse-wrapper {
                position: static;
                height: max-content;
                width: max-content;
                background: transparent;
                visibility: visible;

                .cross-button {
                    display: none;
                }

                .collapse-navbar {
                    flex-direction: row;
                    position: static;
                    height: max-content;
                    width: max-content;
                    background-color: transparent;
                    padding: 0;

                    .nav-link {
                        border-top: none;
                    }
                }
            }

            .right-part {
                .languages {
                    display: grid;

                }

                .menu-button {
                    display: none;
                }
            }


            &:not(.onscroll) {
                .collapse-navbar .nav-link {
                    &>a {
                        color: white;
                        text-shadow: 0 0 2rem #000f1e;
                    }

                    &:is(.active)>a,
                    &:hover>a {
                        color: #ccc;
                    }
                }

            }

            &:is(.onscroll) {
                .collapse-navbar .nav-link {
                    &>a {
                        color: #4c4c4c;
                        text-shadow: none;
                    }

                    &:is(.active)>a,
                    &:hover>a {
                        color: #0c63b4;
                    }
                }
            }
        }
    }
}


.banner-section {
    .carousel {
        height: 75.2rem;
        min-height: 50rem;
        color: #fff;

        .carousel-item {

            img {

                transition: transform 0.4s;
            }

            &:is(.active) img {
                animation: scaleAnimation 4s;
            }

            .carousel-caption {
                bottom: 50%;
                left: 0;
                transform: translateY(50%);
                display: flex;
                flex-direction: column;
                padding-inline: 7rem;
                animation: opacityAnimation 4s;

                h2 {
                    font-size: 4rem;
                    max-width: 80rem;
                    font-weight: bold;
                    margin-bottom: 0.8rem;
                    line-height: 1.2;
                    text-align: start;
                }

                .more {
                    text-align: center;
                    display: inline;
                    width: 20rem;
                    border: 0.2rem solid #0c63b4;
                    background-color: #0c63b4;
                    border-radius: 0.6rem;
                    font-weight: bold;
                    font-size: 1.4rem;
                    line-height: 1;
                    margin-top: 2.4rem;
                    padding: 1.4rem 2.4rem;
                    -webkit-transition: 0.3s;
                    transition: 0.3s;
                    
                }
            }
        }


        .carousel-indicators {
            margin-bottom: 4.8rem;

            .dot {
                background: transparent;
                width: 130px;
                height: max-content;
                text-indent: 0;
                margin-inline: 0.5rem;


                .bar-wrapper {
                    height: 0.2rem;
                    width: 100%;
                    background: #fff;
                    position: relative;

                    .progress-bar {
                        display: inline-block;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transition: 0.4s width;
                    }

                }

                h6 {
                    margin-block: 1.5rem 0.8rem;
                    font-size: 1.2rem;
                    font-weight: bold;
                    width: 130px;
                    height: 43px;
                    overflow: hidden;
                    white-space: wrap;
                    text-overflow: ellipsis;
                }

                &:is(.active) .bar-wrapper .progress-bar {
                    width: 100%;
                    background-color: #0c63b4;
                    animation: progressAnimation 4s;
                }
            }
        }
    }
}